h1{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: red;
}
.bounds{
    background-color: lightblue;
    position: relative;
    box-sizing: border-box;
    height: 80vh;
    width: 35vw;
    float: left;
    margin: 10px;
    margin-left: 0px;
    padding: 0px 20px;
    border-radius: 5px;
}
.bounds table{
    border-spacing: 15pt;
}
.white{
    padding: 0px 5px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    margin-left: 30px;
}
.histogram{
    background-color: lightblue;
    position: relative;
    box-sizing: border-box;
    height: 50vh;
    width: 50vw;
    float: left; 
    margin: 10px;
    padding: 0px 20px; 
    border-radius: 5px; 
}
.histogram table{
    border-spacing: 4pt;
}
.stats{
    background-color: lightblue;
    position: relative;
    box-sizing: border-box;
    height: 27vh;
    width: 50vw;
    float: left;
    margin: 10px;
    padding: 0px 20px;
    border-radius: 5px;
}
.stats table{
    border-spacing: 8pt;
}

